<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="BufferingWrapper"
                name="csvasync"
                bufferSize="1000"
                flushTimeout="5000">
            <target name="csv"
                    xsi:type="File"
                    fileName="${cached:cached=true:inner=logs/catalog-svc-${date:format=yyyyMMdd-HHmm}}.log"
                    header="RequestId,ElapsedMs,IsBegin,Method"
                    layout="${event-properties:ReqId},${event-properties:ElapsedMs},${event-properties:IsBegin},${message}"
                    archiveOldFileOnStartup="true"
                    archiveNumbering="Rolling"
                    maxArchiveFiles="1" >
            </target>
        </target>
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="catalog-svc" minlevel="Trace" writeTo="csvasync" final="true" />
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
    </rules>
</nlog>